body{
    font-family: "Poppins";
    background-image: url("../public/external/background.png");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.navbar{
    width: 100vw;
    background-color:#967D60;
    display: flex;
    flex-direction: row;
}
.main-container{
    margin-top: 10%;
    margin-left: 15%;
    display: flex;
    width: 60vw;
    height: 20vw;
    gap: 2vw;
   

}
.left-div{
   width: 30vw;
   display: grid;
   grid-template-columns: 1;
   color: white;
   background-color: black;
   border-radius: 20px;
   
}
.left-div div{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin: 20px;

}
.left-div div img{
    margin: 10px;
    max-height: 20px;
}
.left-div p{
    font-size: 2vw;
    margin: 20px;
}
.left-div div p{
    margin-top: 0;
    font-size: 1.5vw;
}
.right-div{
    border-radius: 20px;
    width: 30vw;
    background-color: white;
}
.right-div p{
    color: black;
    margin: 1vw;
    font-weight: bold;
}
.username {
    width: 10vw;
    background-color: #D9D9D9;
}
.input{
margin-top: 1vw;
margin-left: 1vw;
width: 25vw;
}
.input img{
    height: 1vw;
}
.login-button , .create-acc{
    color: white;
    font-size: 1vw;
    background-color: black;
    margin-left: 1vw;
    border: none;
    margin: 1vw;
    width: 5vw;
    height: 2vw;
    

}