.info-container{
    display: flex;
    width: 100vw;
    height: 10vw; 
    margin: 3vw;
}
.profile-pic{
  height: 10vw;
  width: 15vw;
 
}
.profile-pic button img{
    height: 10vw;
    width: 10vw;
}
.user-des{
    display: grid;
    grid-template-columns: 1;
    gap: 1vw;
}
.input-container{
    position: absolute;
    flex-direction: column;
    display: none;
    width: 30vw;
    height: 22vw;
    margin-left: 30vw;
   margin-top: -10vw;
    border-radius: 3%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 2em #00000073;
}
.input {
    max-width: 20vw;

    display: none;
  }
  
  .labelFile {
    position: absolute;
    flex-direction: column;
    justify-content: center;
    margin: 2.5vw;

    width: 25vw;
    height: 15vw;
    border: 2px dashed #ccc;
    align-items: center;
    text-align: center;
    padding: 5px;
    color: #404040;
    cursor: pointer;
  }
  .close-container{
    display: flex;
    justify-content: flex-end;
    width: 28vw;
    height: 1vw;
    margin: 0.5vw;
  }
  .close-button {
    position: relative;
    width: 1.5vw;
    height: 1.5vw;
    border: none;
    background: rgba(180, 83, 107, 0.11);
    border-radius: 5px;
    transition: background 0.5s;
  }
  
  .X {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: rgb(255, 255, 255);
    transform: translateX(-50%) rotate(45deg);
  }
  
  .Y {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2em;
    height: 1.5px;
    background-color: #fff;
    transform: translateX(-50%) rotate(-45deg);
  }
  
  .close {
    position: absolute;
    display: flex;
    padding: 0.8rem 1.5rem;
    align-items: center;
    justify-content: center;
    transform: translateX(-50%);
    top: -70%;
    left: 50%;
    width: 3em;
    height: 1.7em;
    font-size: 12px;
    background-color: rgb(19, 22, 24);
    color: rgb(187, 229, 236);
    border: none;
    border-radius: 3px;
    pointer-events: none;
    opacity: 0;
  }
  
  .close-button:hover {
    background-color: rgb(211, 21, 21);
  }
  
  .close-button:active {
    background-color: rgb(130, 0, 0);
  }
  
  .close-button:hover > .close {
    animation: close 0.2s forwards 0.25s;
  }
  
  @keyframes close {
    100% {
      opacity: 1;
    }
  }
  
  