{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
</head>
<body>
  {% if delete_alert %}
  <script>
      window.onload = function() {
          alert("your Profile deleted sucessfully");
      };
  </script>
  {% endif %}
  <div class="navbar">
    <img src="{% static 'public/external/brand.png' %}" >
    <div class="action-bar">
      <form action="{%url 'search'%}" method="post">
        {%csrf_token%}
    <div class="search">
      <input type="text" class="search__input" placeholder="Type your search" name="search">
      <button class="search__button" type="submit">
          <svg class="search__icon" aria-hidden="true" viewBox="0 0 24 24">
              <g>
                  <path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path>
              </g>
          </svg>
      </button>
    </div>
      </form>
    <div class="account-container">
      {% if auth is False %}
       <a href="{% url 'login' %}"><button class="login-out">Login</button></a>
      {% else %}
      <div class="dropdown"> 
        <button class="btn btn-success" style="margin-right: 2vw;" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false"> 
          Add +</button> 
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton"> 
          <li><a class="dropdown-item" href="{%url 'add annonce' %}">villa</a></li> 
          <li><a class="dropdown-item" href="{%url 'add annonce' %}">terrain</a></li> 
          <li><a class="dropdown-item" href="{%url 'add annonce' %}">appatement</a></li> 
        </ul> 
      </div>
      <div class="dropdown">
        <button class="account" type ="button" data-bs-toggle="dropdown" aria-expanded="false"><img src={% if user.profile_pic %}{%if user.profile_pic.url %}{{user.profile_pic.url}}{%else%}{% static 'public/external/no-user.png' %}{%endif%}{%endif%} alt=""></button>
        <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="profile/{{user.id}}">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Logout</a></li>
        </ul>
      </div>
      {% endif %}
      
    </div>
    
  </div>
  </div>
  <p style="font-weight:500;font-size:2vw;margin-left:3vw;margin-top:2vw">Recent posts</p>
  <hr class="dropdown-divider">
  {%if posts%}
    <div class="cards">
    {%for post,description in posts%}
      <div class="card">
        <div class="card-img"><img src="{{post.media_files_set.first.path.url}}" alt=""></div>
        <hr class="dropdown-divider">
        <div class="card-info">
          <p class="text-title">{{post.title}} </p>
          <p class="text-body">{{description}}</p>
        </div>
        <div class="card-footer">
        <span class="text-title">{{post.price}} DA</span>
        <a href="{% url 'show post' post.id%}"><button class="view-item">view</button></a>
        {% if request.user == post.user_id %}
        <div class="dropdown">
        <button class="menu" data-bs-toggle="dropdown">
          <svg viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
          <path d="M140,128a12,12,0,1,1-12-12A12,12,0,0,1,140,128ZM128,72a12,12,0,1,0-12-12A12,12,0,0,0,128,72Zm0,112a12,12,0,1,0,12,12A12,12,0,0,0,128,184Z"></path></svg>
        </button>
         <ul class="dropdown-menu dropdown-menu-dark">
          <li><a class="dropdown-item" href="{% url 'update post' post.id %}">Modify</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'delete post' post.id %}" style="color: red;">Delete</a></li>
         </ul>
        </div>
        {%endif%}
      </div>
    </div>
    {%endfor%}
  </div>
  {%else%}
  <div style="display: flex;justify-content: center;">
  <h2>No result</h2>
</div>
  {%endif%}
  
    
</body>